<template name="EditContact">
  <div class="col-md">
    <h4>Edit contact page</h4>
    {{#with contact}}
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" value="{{name}}" />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" value="{{phoneNumber}}" />
      </div>
      <input type="hidden" id="_id" value="{{_id}}" />
      <p>
        <button type="submit" class="btn btn-primary">Update</button>
      </p>
    </form>
    {{/with}}
  </div>
</template>