<template name="Children">
  <h2>Children</h2>
  <form class="child-add">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" required>
    </p>
    <p>
      <label for="age">Age</label>
      <input type="number" name="age" placeholder="15" step="1" min="0" required>
    </p>
    <p>
      <input type="submit" value="Add new child">
    </p>
  </form>
  <ul>
    {{#each children}}
    <li>
      <a href="child/{{_id}}">{{name}} - {{age}}</a>
      <button class="removeChild">Remove</button>
    </li>
    {{/each}}
  </ul>
</template>