<template name="EditChild">
  <div class="col-md">
    <h4>
      Edit child
    </h4>
    {{#with child}}
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" value="{{name}}" />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" value="{{age}}" />
      </div>
      <input type="hidden" id="_id" value="{{_id}}" />
      <p>
        <button type="submit" class="btn btn-primary">Update</button>
      </p>
    </form>
    {{/with}}
  </div>
</template>