<template name="EditPlacement">
  <h1>
    Edit placement
  </h1>
  <p>
    <a href="/reports">Go To Reports</a>
  </p>
  <br />
  <p>
    {{#with placement}}
    <strong>Child Name: {{childName}}</strong>
    <form>
      <p>
        <label for="startDate">Start Date</label>
        <input type="text" id="startDate" value="{{dateHTML startDate}}" required/>
      </p>
      <p>
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" value="{{dateHTML endDate}}" />
      </p>
      <p>
        <label for="isActive">Is the child still placed with you?</label>
        <select name="isActive" required>
          <option value="yes" {{selected isActive 'yes'}}>Yes</option>
          <option value="no" {{selected isActive 'no'}}>No</option>
        </select>
      </p>
      <p>
        <label for="rateId">Reimbursement Rate</label>
        <select name="rateId">
          <option value="" disabled selected>Pick one...</option>
          {{#each rates}}
          <option value="{{_id}}" {{selected _id ../rateId}}>{{name}} {{amount}}</option>
          {{/each}}
        </select>
      </p>
      <input type="hidden" id="_id" value="{{_id}}" />
      <button type="submit">Update</button>
    </form>
    {{/with}}
  </p>
  <p>
    <a href="/">Go Home</a>
  </p>
</template>