<template name="Placement">
  <h2>Placement</h2>
  {{#with placement}}
  <div class="topPad">
    <p>
      Child name: {{childName}}
    </p>
    <p> Start Date: {{formattedDate startDate}}</p>

    <p> {{#if isActive}} This is an
      <strong>active</strong> placement {{else}} This is
      <strong>not</strong> an active placement {{/if}}</p>
    <p> {{#if rateId}} The daily reimbursement amount is ${{reimbursementRate}} {{/if}}
    </p>
    <p>
      <a href="/placement/edit/{{_id}}">Edit</a>
    </p>
  </div>
  <div class="verticalPad">
    <p>
      <button class="removePlacement">Remove</button>
    </p>
  </div>
  {{/with}}
</template>