form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

.topPad {
  padding-top: 20px;
}

.verticalPad {
  padding-top: 20px;
  padding-bottom: 20px;
}
