/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 4.5rem;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*------------------------------------------------ */

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

.topPad {
  padding-top: 20px;
}

.verticalPad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-group .list-group-row {
  padding: 1.1rem 0;
}

.list-group-row {
  border-bottom: 0.07rem dashed #ebedf2;
}
